<h1>Editing trackable_item</h1>

<% form_for(@trackable_item) do |f| %>
  <%= f.error_messages %>
  
<%= render :partial => 'form', :locals => {:f => f} %>


  <p>
    <%= f.submit "Update" %>
  </p>
<% end %>

<%= link_to 'Show', @trackable_item %> |
<%= link_to 'Back', trackable_items_path %>
